.exercise-container
{
  width: 2fr;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exercise-container h2, .exercise-container h3, .exercise-container p
{
  text-align: left;
}
