.exercise-container
{
  width: 2fr;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exercise-container h2, .exercise-container h3, .exercise-container p
{
  text-align: left;
}

.teacher-help-button {
  margin-top: 10px;
  background-color: #0053f8;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
